.App {
  text-align: center;
}


.navbarStyle {
  color: white;
  background: #412801;
  display: flex;
  justify-content: space-around;
}

.navList{
  width: 28vw; 
  display: flex;
  justify-content: space-between;
}

.navLink{
  list-style: none;
  text-decoration: none;
  color: white;
}
